<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BatFile" value="DB/Sample.bat"/>
    <add key="smtp" value="cd.smtp.com"/>
    <add key="share" value="\\cdserver.com\share\"/>
    <add key="UserCount" value="2"/>
  </appSettings>
</configuration>